<div class="form-group">
  <label for="{{fieldName}}">{{label}}</label>
  <input type="text" class="form-control" id="{{fieldName}}" [value]="value" [disabled]="isDisabled"
    (input)="onChange($event)" (blur)="touched()"
    [class.is-invalid]="formField.invalid && (formField.dirty || formField.touched)">

  <!-- show errors -->
  <div *ngIf="formField.invalid && (formField.dirty || formField.touched)" class="invalid-feedback">
    <app-common-error-control [formField]="formField" [label]="label"></app-common-error-control>
  </div>
</div>
